/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

* {
  font-family: 'Codystar', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: $primary-background;
}
