/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: url('../images/backgroundImage.jpg');
$header-background: rgba(255, 255, 255, 0.825);
;
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  
  // font-family: 'Codystar', cursive;
  // font-family: 'Comfortaa', cursive;
  font-family: sans-serif;
}


h1 {
  font-family: 'Dustismo', sans-serif!important;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 0 .5em;
}

h4 {
  margin: .5em .25em;
}

header {
  background-color: $header-background;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding: 1em;
}

footer {
  background-color: $header-background;
  width: 100%;
  height: 2em;
  position: fixed;
  bottom: 0;
}

.footerInfoDisplay {
  display: flex;
  align-items:unset;
  justify-content: space-between;
  padding: .25em .5em;
}

.footerInfoDisplay > h4 {
  font-size: .65em;
}

body {
  background-image: $primary-background;
  background-size: cover;
  background-position: absolute;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
  display: flex;
}

li:hover {
  color: #00449e;
  text-decoration: overline;
  font-weight: bolder;
  font-style: italic;
}

main {
  height: 86vh;
  display: flex;
  justify-content: center;
}

//card styling
article {
  font-family: 'Montserrat', sans-serif;
  background: $header-background;
  width: 87vw;
  height: 55vh;
  margin: 5vh 5vw;
  box-shadow: 0 10px 9px rgb(0 0 0 / 37%);
}

.headerContent {
  height: 65%;
  overflow: hidden;
}

.locationIcon,
.statusIcon,
.takeoffIcon,
.headerIcon {
  height: 2em;
}

.headerInfo {
padding: .5em;
}

.destinationImg { 
  width: 87vw;
  overflow: hidden;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  // height: 100%;
}

li,
.confirmationHolder,
.locationIconHolder,
.departureIconHolder {
  display: flex;
  align-items: center;
}

//book trip modal

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background-color: #fff;
  padding: 30px;
  height: 57vh;
  width: 97vw;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.modalTitle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modalClose {
  background: transparent;
  border: 0;
  // margin: -3em -20em 0 0;
}

.modalHeader .modalClose:before { content: "\2715"; }

.modalContent {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.dateHolder {
  display: flex;
  flex-direction: column;
}

.selectDestination,
.selectNumLabel,
.selectDate {
  margin: 0 .6em 1em 0;
}
//Demo Animation Style

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodalSlide {
  display: none;
}

.micromodalSlide.is-open {
  display: block;
}

.micromodalSlide[aria-hidden="false"] .modalOverlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodalSlide[aria-hidden="false"] .modalContainer {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodalSlide[aria-hidden="true"] .modalOverlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodalSlide[aria-hidden="true"] .modalContainer {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodalSlide .modalContainer,
.micromodalSlide .modalOverlay {
  will-change: transform;
}