/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: url('../images/backgroundImage.jpg');
$header-background: rgba(255, 255, 255, 0.825);
;
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  // font-family: 'Codystar', cursive;
  // font-family: 'Comfortaa', cursive;
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-family: 'Comfortaa', cursive;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

header {
  background-color: $header-background;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding: 1em;
}

footer {
  background-color: $header-background;
  width: 100%;
  height: 2em;
  position: fixed;
  bottom: 0;
}

.footerInfoDisplay {
  display: flex;
  align-items:unset;
  justify-content: space-between;
  padding: .25em .5em;
}

.footerInfoDisplay > h4 {
  font-size: .65em;
}

body {
  background-image: $primary-background;
  background-size: cover;
  background-position: absolute;
}

ul {
  list-style-type: none;
  display: flex;
}

main {
  height: 86vh;
  display: flex;
  justify-content: center;
}

//card styling
article {
  font-family: 'Montserrat', sans-serif;
  background: $header-background;
  width: 87vw;
  height: 55vh;
  margin: 5vh 5vw;
}

.headerContent {
  height: 65%;
}

.locationIcon,
.statusIcon,
.takeoffIcon,
.headerIcon {
  height: 2em;
}

.headerInfo {
  margin: -12vh 3vw;
}

.destinationImg { 
  width: 87vw;
  overflow: hidden;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  // height: 100%;
}

li,
.confirmationHolder,
.locationIconHolder,
.departureIconHolder {
  display: flex;
  align-items: center;
}